<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}이력서 사이트{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <nav>
        <a href="{{ url_for('main.home') }}">홈</a>
        <a href="{{ url_for('main.resume') }}">이력서</a>
        <a href="{{ url_for('main.portfolio') }}">포트폴리오</a>
    </nav>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <div class="footer-content">
            <p>내 정보</p>
            <p>이름: 서재현</p>
            <p>생년월일: 1999. 01. 02</p>
            <p>이메일: sjh11488@naver.com</p>
            <p>전화: 010-7757-8255</p>
            <p>주소: 서울특별시 강동구 천호동</p>
        </div>
        <div class="footer-content">
            <p>현재 페이지 저장</p>
            <a href="/save_pdf" download="서재현.pdf">📄 PDF로 저장</a><br>
            <a href="/save_jpg" download="서재현.jpg">🖼 JPG로 저장</a>
        </div>

        <div class="footer-content">
            <p>GitHub 링크</p>
            <a href="https://github.com/suejeahyun/portfolio" target="_blank" >Github</a>
        </div>        
        <div class="footer-content">
            <p>Portfolio PPT 링크</p>
            <a href="https://docs.google.com/presentation/d/1Cgikyx-u1VgAYzqclXNs1eiTQBzob1p5/edit?usp=drive_link&ouid=108630142332886972942&rtpof=true&sd=true" target="_blank" >주차장 관리자 연동 웹</a><br>
            <a href="https://docs.google.com/presentation/d/1isLjxVJOLuG9dfQmpJglFsILCBjW_0Fd/edit?usp=drive_link&ouid=108630142332886972942&rtpof=true&sd=true" target="_blank" > 스마트시티 CCTV</a><br>
            <a href="https://docs.google.com/presentation/d/1ncVB0w0FEXGryVnM3ATvmF6_66REp5do/edit?usp=drive_link&ouid=108630142332886972942&rtpof=true&sd=true" target="_blank" >불량 검출 스마트팩토리</a>
        </div>
    </footer>
</body>
</html>
