{% extends 'base.html' %}

{% block title %}이력서{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/resume_style.css') }}">
<h1>이력서</h1>
<hr>
<div class="introduction">
    <img src="static/img/profile-image.jpg" alt="profile image" width="150" height="200" style="border-radius: 50%;">
    <div>
        <h2>서재현</h2>
        <p> 📧 sjh11488@naver.com </p>
        <p> 📱 010 - 7757 - 8255 </p>
        <p> 📅 1999. 01. 02 </p>
    </div>
</div>
<div class="Develop">
    <p><h2>개발 직무<hr></h2> <span class="highlight">웹 풀스택 개발자</span><span class="highlight">Front-End 개발자</span><span class="highlight">Beck-End 개발자</span></p>
    <p><h2>기술 <hr></h2> <span class="highlight">Python</span>, <span class="highlight">Flask</span>, <span class="highlight">HTML</span>, <span class="highlight">CSS</span>, <span class="highlight">Spyder</span>, <span class="highlight">OpenCV</span>, <span class="highlight">Numpy</span>, <span class="highlight">MySQL</span></p>
</div>

<div class="Education"> 
    <h2> 학력 </h2>
    <hr>
    <div class="Education-grid">
        <div class="Education-item">
            <p>⚪ 2017. 09 중퇴</p>
            <p>대학(2,3년)</p>
            <p>백석예술대학교</p>
            <p>실용음악과</p>
        </div>
        <div class="Education-item">
            <p>⚪ 2014. 03 ~ 2017. 02</p>
            <p>고등학교</p>
            <p>서울대학교 사범대학교 부설고등학교</p>
            <p>이과</p>
        </div>
    </div>
</div>
<div class="Education">
    <h2>교육이력</h2>
    <hr>
    <p></p>
    <div class="Education-item">
        <p>⚪ 2024. 07 ~ 2025. 03</p>
        <a href="/static/img/Certificate_of_Completion.pdf">(기업연계형) AI를 이용한 스마트플랫폼 개발자 양성과정</a>
        <p>MBC 아카데미 컴퓨터 학원</p>
        <p>
            <span class="highlight">Java</span>, 
            <span class="highlight">Python</span>, 
            <span class="highlight">C++</span>, 
            <span class="highlight">Visual Studio Code</span>, 
            <span class="highlight">Flask</span>, 
            <span class="highlight">JSP</span>, 
            <span class="highlight">NumPy</span>, 
            <span class="highlight">MySQL</span>, 
            <span class="highlight">MariaDB</span>, 
            <span class="highlight">TensorFlow</span>, 
            <span class="highlight">Spyder</span>, 
            <span class="highlight">OpenCV</span>, 
            <span class="highlight">Machine Learning</span>, 
            <span class="highlight">Markdown</span>, 
            <span class="highlight">Pandas</span>, 
            <span class="highlight">R</span>, 
            <span class="highlight">Spring</span>, 
            <span class="highlight">GitHub</span>
        </p>
    </div>
</div>
<h2>자기소개서</h2>
<hr>
<div class="Self-introduction">
    <p></p>
    <div class="Education-item">
        <h3>⚪ #자유로운 사고 방식</h3>
        <p> - 어려운 문제들을 마주하면 저는 이를 단순히 받아들이기보다는 "다른 방식으로 풀어낼 수 없을까?"라는 질문을 던집니다. </p>
        <p> - 풀스택 개발에서 문제를 해결할 때도 마찬가지입니다. 일반적으로 복잡하거나 잘 알려지지 않은 방식이 있을 때, 새로운 방법을 시도해보고 더 나은 해결책을 찾는 것을 중요시합니다. </p>
        <p> - 예를 들어, CNN을 활용한 종이컵 불량 검출 스마트 팩토리 개발 프로젝트에 참여했을 때, 제한된 자원(웹캠 2개)에서 종이컵의 규격을 정하고 양품과 불량품을 검출해야 하는 상황이었습니다. 이 과정에서 웹캠 2개를 계속 사용하는 대신, 버튼을 눌러 사용되는 모델과 적용되는 코드가 달라지도록 객체 분할을 통해 편리성을 향상시키는 아이디어를 제시했습니다. 그 결과, 프로그램은 더 효율적이고 효과적이며, 유지보수가 용이한 형태로 개선되었습니다. </p>
        <p> - 이렇게 창의적이고 혁신적인 방법을 통해, 저는 더 나은 웹 서비스를 제공하고자 하며, 프론트엔드와 백엔드를 아우르는 풀스택 개발자로서 사용자가 편리하고 직관적으로 서비스를 이용할 수 있도록 지속적으로 개선해 나갈 것입니다. </p>
        <p> - 문제를 단순히 해결하는 것을 넘어, 더 나은 방법을 모색하는 것이 바로 풀스택 개발자의 중요한 역할이라 믿습니다. </p>
    </div>
    <p></p>
    <div class="Education-item">
        <h3>⚪ #사용자 중심적</h3>
        <p> - 음악을 만들고 그 음악이 사람들에게 희망과 긍정적인 영향을 미쳤을 때, 저는 큰 만족감을 얻었습니다. 이 경험은 ‘사람을 위한 창작’의 중요성을 깨닫게 해주었고, 프로그래밍에서도 사용자의 경험을 개선하고, 프로그램이 그들의 삶에 어떻게 영향을 미칠지를 고민하며 개발하는 과정에서 만족을 느끼게 되었습니다. </p>
        <p> - 예를 들어, CCTV 기반 주차장 관리 시스템 웹 구현 프로젝트에서, 사용자가 주차장 관리인일 때, 출근과 퇴근 시 자동으로 요금을 정산하고, PDF와 Excel 형식으로 보고서를 다운로드할 수 있는 기능을 추가하여 편리함을 제공했습니다. </p>
        <p> - 프로그램을 사용자 입장에서 개선하려는 노력은, 마치 사람들이 제 음악에서 의미를 찾듯, 더 나은 방향으로 발전할 수 있다는 확신을 줍니다. 이를 통해 풀스택 개발자로서 사용자에게 긍정적인 영향을 미치는 서비스를 만들고자 합니다. </p>
        <p> - 사용자 경험을 개선하고 그들이 필요로 하는 서비스를 제공하는 것이 제 목표이며, 이를 통해 얻는 성취감은 더욱 큰 의미를 가집니다. 앞으로도 직관적이고 효율적인 웹 서비스를 개발하기 위해 끊임없이 노력할 것입니다. </p>
    </div>
    <p></p> 
    <div class="Education-item">
        <h3>⚪ #창의적 접근 #문제 해결</h3>
        <p> - CNN을 활용한 종이컵 불량 검출 스마트 팩토리 개발 프로젝트에 참여하였습니다. 이 프로젝트에서는 웹캠 2개를 사용하여 종이컵의 규격을 설정하고, YOLO 모델에 입력된 가중치에서 나온 모델의 pixel 값을 지정한 cm에 맞게 변환하여 MySQL 데이터베이스에 저장하는 시스템을 개발했습니다. 특히, 사용자가 웹 페이지에서 높이와 넓이를 설정할 때 두 개의 웹캠을 띄운 상태에서 설정하려는 웹캠만 보이도록 하고, 나머지 웹캠은 가려지도록 하는 UI/UX 개선 아이디어를 제시하였습니다. 이를 통해 사용자에게 더욱 직관적이고 편리한 인터페이스를 제공할 수 있었습니다. </p>
        <p> - 저는 문제를 다양한 방면에서 분석하고, 효율적이고 혁신적인 방법으로 해결하려는 성향을 가지고 있습니다. 이번 프로젝트에서도 여러 기술적 도전 과제에 직면했지만, 사용자 편의를 고려한 설계를 통해 문제를 해결하고, 프로젝트를 성공적으로 완수했습니다. 새로운 기술을 배우고 이를 적용하는 과정에서 얻는 성취감을 중요하게 생각합니다.</p>
        <p> - 새로운 것을 배우고, 문제를 끝까지 해결하려는 집요함을 가지고 있습니다. 이러한 성향은 저를 끊임없이 성장하게 만들고, 더 나은 결과를 이끌어내는 데 중요한 역할을 합니다. 풀스택 개발자로서, 사용자 경험을 개선하고 직관적인 웹 서비스를 제공하는 데 집중하고 있습니다.</p>
    </div>
    <p></p>
    <div class="Education-item">
        <h3>⚪ #끝없는 발전 #소통과 팀워크</h3>
        <p> - 음악을 창조할 때, 저는 항상 "사람들이 이렇게 들으면 더 좋을 것 같아"라는 생각을 하며 곡을 만듭니다. 완성된 음악을 듣고 사람들과 소통하며, 그들이 긍정적인 반응을 보일 때 큰 성취감을 느꼈습니다. 이러한 경험은 제게 창의적인 작업에서 중요한 가치를 깨닫게 해주었고, 이를 프로그래밍에서도 적극적으로 적용하고 있습니다. </p>
        <p> - 풀스택 개발자로서도 "어떻게 하면 더 편리하고 효율적일까?"라는 질문을 끊임없이 던지며 프로젝트에 임하고 있습니다. 이렇게 해결책을 찾아내고, 사용자 경험을 개선하는 과정에서 성취감과 만족감을 느낍니다. 앞으로도 풀스택 개발자로서 계속 발전하며, 다양한 기술을 익히고 더 나은 서비스를 제공할 것입니다.</p>
        <p> - 저는 활발한 성격과 소통 능력을 바탕으로 팀원들과 원활하게 협업할 수 있습니다. 회사에서는 제 능동적인 자세로 빠르게 적응하고, 팀에 기여할 수 있도록 노력할 것입니다. 회사의 발전을 위해 제 역할을 다하며, 계속해서 성장할 수 있는 기회를 만들겠습니다. </p>
    </div>
</div>
{% endblock %}
